body {
    background-image: url("image.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
 }
 
 h2 {
    margin-top: 50px;
    font-size: 28px;
 }
 
 form {
    margin-top: 20px;
 }
 
 label {
    display: block;
    margin-top: 10px;
    font-size: 18px;
 }
 
 input[type="text"],
 input[type="date"],
 input[type="time"] {
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
 }
 
 button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a69b9b;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
 }
 
 button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
 }
 a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #938b8b;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
 }
 
 a.btn:hover {
    background-color: #000;
    color: #868686;
 }