body {
    background-color: #cec7c7;
    background-image: url('image.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }  
  .container {
    text-align: center;
  }
  
  .success-message {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }
  
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
 }
 
.btn:hover {
   background-color: #2ec264;
}